#calendar {

	table
	{
		table-layout: fixed;
		width: 97%;
	}

	td
	{
		border-collapse: collapse;
		border: 1px solid #1c305d;
	}

	td
	{
		width: 10em;
		padding: 2px;
	}

	.blank, .time
	{
		width: 3em;
	}

	.blank, .room, .time, .day
	{
		padding:0.3em;
		font-size: 14px;
		background: #1c305d;
	}

	.blank:hover, .time:hover, .day:hover
	{
		background: #1c305d;
	}

	tr:hover .time:first-child
	{
		transition: background 0.15s;
		background: #3e5d90;
	}

	td:hover, .room:hover
	{
		transition: background 0.15s;
		background: #3e5d90;
	}

}

div .roomInfo
{
	height: 0;
    transition: height 1s ease 0s, padding-top 1s ease-out 0s, padding-bottom 1s ease-out 0s, color 1s ease-in 0s;
    padding: 0.5em;
    padding-top: 0;
    padding-bottom: 0;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(250, 250, 250, .8);
    width: 30%;
    border: 0;
    border-radius: .5em;
    box-shadow: .5em .5em 15px rgba(100, 100, 100, .8);
    position: absolute;
}

div .roomInfo.show
{
    visibility: visible;
    color: #555;
    height: 100px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.hidden
{
	display: none;
}