#calendar {

	-webkit-user-select: none;
	overflow: hidden;

	#headerBar
	{
		text-align: center;
		color: white;
	}

	#visibleGrid
	{
		height: 100%;
	}

	table
	{
		table-layout: fixed;
		width: 97%;
		height: 97%;
		td
		{
			-webket-user-select: none;
			border-collapse: collapse;
			border: 1px solid $mainBlue;
			padding: 2px;
			text-align: center;
			font-size: 0.85em;
		}
		border-bottom: 1px solid $mainBlue;

		.today
		{
			background: $mainBlueHL;
		}
	}

	.blank, .time
	{
		width: 3em;
	}

	.blank, .room, .time, .day
	{
		padding:0.3em;
		font-size: 14px;
		background: $mainBlue;
	}

	.blank:hover, .time:hover, .day:not(.today):hover
	{
		background: $mainBlue;
	}

	tr:hover .time:first-child
	{
		transition: background 0.15s;
		background: $mainBlueHL;
	}

	td:not(.booked):not(.disabled):hover, .room:hover
	{
		transition: background 0.15s;
		background: $mainBlueHL;
	}

	.booked
	{
		background: $disabledGrey;
		color: $mainBlue;
		border-top: 0px solid $mainBlue;
		border-bottom: 0px solid $mainBlue;
	}

	.disabled
	{
		background-image: linear-gradient(rgba(202, 201, 201, 0.66), rgba(202, 201, 201, 0.66)); //hacky way to tint cells
	}

	.top
	{
		border-top: 1px solid $mainBlue;
	}

	.bottom
	{
		border-bottom: 1px solid $mainBlue;		
	}

	.hover
	{
		background: $mainBlueHL;
	}

	.selected
	{
		background: $mainBlueHL;
	}

	div .roomInfo
	{
		padding: 0.5em;
	    background-color: rgba(250, 250, 250, .8);
	    width: 22%;
	    border: 0;
	    border-radius: .4em;
	    box-shadow: .4em .4em 15px rgba(100, 100, 100, .8);
	    position: absolute;
	    visibility: visible;
	    color: #555;
	    padding: 0.5em;

	    font-size: 0.75em;
		text-align: center;
	    u
	    {
	    	font-size: 1.25em;
	    }
	    table, tr, td
	    {
	    	margin: auto;
	    	border: 0;
			background-color: rgba(250, 250, 250, 0);
			.left
			{
				width: 20%;
				text-align: right;
			}
			.right
			{
				width: 80%;
				text-align: left;
			}
	    }
	}

	.window
	{
		-webkit-user-select: none;
		padding: 0.5em;
	    background-color: rgba(250, 250, 250, .8);
	    width: 27%;
	    border: 0;
	    border-radius: 0.4em;
	    box-shadow: .4em .4em 15px rgba(100, 100, 100, .8);
	    position: absolute;
	    visibility: visible;
	    color: #555;
	    padding: 2em 0.5em 0.5em 0.5em;
	    z-index: 2;

	    header
	    {
	    	cursor: move;
		    color: #fff;
		    top: 0em;
		    background-color: $mainBlue;
		    padding: .5em;
		    text-align: center;
		    border: 0; 
		    border-radius: .4em .4em 0 0;
		    position:inherit;
		    width: calc(100% - 1em);
		    margin: -.5em -.5em;
	    }

	    .halfSize
	    {
	    	font-size: 0.85em;
	    	-webkit-transform: scale(0.8);
	    }
	}

	.blurred
	{
		//-webkit-filter: blur(1.25px);
		-webkit-filter: blur(2px);
	}

	#blanket
	{
		cursor: default;
		height: 100%;
		width: 100%;
		position: absolute;
		top:0px;
		z-index: 1;
		font-size: 4em;

		display: flex;
		align-items: center;
		justify-content: center;	
	}

}

.hidden
{
	display: none;
}