<script>
  window.rooms = {'studyRooms':{}, 'specialtyRooms':{}, 'otherRooms':{}};
  <% var studyRooms = []; %>
  <% var specialtyRooms = []; %>
  <% var otherRooms = []; %>
  <% for (var i = 0; i < rooms.length; i++) { %>
    window.rooms['<%- rooms[i].id %>'] = <%- JSON.stringify(rooms[i]) %>;
    <% if ('location' in rooms[i] && 'name' in rooms[i]) { %>
      <% if (rooms[i]['location'].substring(0, 5).match(/11(31|33|41)[A-E]/)) { %>
        <% studyRooms.push(rooms[i]); %>
        window.rooms.studyRooms['<%- rooms[i].id %>'] = <%- JSON.stringify(rooms[i]) %>;
      <% } else if (rooms[i]['name'] == "Foreign Lang Activity Commons" || rooms[i]['name'] == "Recording Studio") { %>
        <% specialtyRooms.push(rooms[i]); %>
        window.rooms.specialtyRooms['<%- rooms[i].id %>'] = <%- JSON.stringify(rooms[i]) %>;
      <% } else { %>
        <% otherRooms.push(rooms[i]); %>
        window.rooms.otherRooms['<%- rooms[i].id %>'] = <%- JSON.stringify(rooms[i]) %>;
      <% } %>
    <% } %>
  <% } %>
  <% studyRooms.sort(); %>
  <% otherRooms.sort(); %>

  window.isAdmin = <%= isAdmin %>;
  window.user = "<%- user %>";
  
</script>
<body>
  <section id='calendar'>
    <div id='headerBar' class='blurred'>
      <select id='roomsSelector'>
        <option>Study Rooms</option>
        <option>Recording Studio</option>
        <option>FLAC</option>
        <option>Other Rooms</option>
      </select>
      Go to <input type='date' id='dateSelector' value='<%=new Date().toISOString().substring(0, 10)%>' min='<%=new Date().toISOString().substring(0, 10)%>'></input>
    </div>

    <div id='visibleGrid' class='blurred'></div>

    <div id='blanket'>Loading...</div>

    <template id='studyRooms'>

      <table id="studyRoomsGrid" class="calendar">
        <% for (var i=7.5; i<=20.5; i=i+0.5) { %>
          <% if (i < 8) { %>
            <tr>
              <th class="blank"></th>
              <% for (var k=0; k<studyRooms.length; k++) { %>
                <th class="room"><%= studyRooms[k].location %> (<%= studyRooms[k].capacity %>)</th>
              <% } %>
            </tr>
          <% } else { %>
            <tr>
              <% for (var j=0; j<=studyRooms.length; j++) { %>
                <% if (j==0) { %>
                  <th class="time"><%= (i>=7)?Math.floor((i<=12.5)?i:i-12):''%>:<%=(i%1==0)?'00':'30'%></th>
                <% } else { %>
                  <td id= "<%=studyRooms[j-1].location.replace(' ','_')+'-'+String(i)%>" data-time="<%=i%>" data-room="<%= studyRooms[j-1].name %>" data-timereadable="<%= (i>=7)?Math.floor((i<=12.5)?i:i-12):''%>:<%=(i%1==0)?'00':'30'%> <%= (i<12)?'AM':'PM' %>"</td>
                <% } %>
              <% } %>
            </tr>
          <% } %>
        <% } %>
      </table>

      <% for (var i=0; i<studyRooms.length; i++) { %>
        <div id='<%= studyRooms[i].location.substring(0, studyRooms[i].location.indexOf(" ")) %>' class='roomInfo'>
          <u><%= studyRooms[i].name %></u><br>
          <table>
            <tr>
              <td class='left'>Capacity:</td><td class='right'><%= studyRooms[i].capacity %></td>
            </tr><tr>
              <td class='left'>Location:</td><td class='right'><%= studyRooms[i].location %></td>
            </tr><tr>
              <td class='left'></td><td class='right'><%= studyRooms[i].directions %></td>
            </tr><tr>
              <td class='left'>Amenities:</td><td class='right'> <%= studyRooms[i].amenities %></td>
            </tr><tr>
              <td class='left'>ID:</td><td class='right'> <%= studyRooms[i].id %></td>
            </tr>
          </table>
        </div>
      <% } %>

    </template>

    <template id="recordingStudio" class='hidden'>

      <table id="recStudioGrid" class="calendar">
        <% for (var i=7.5; i<=20.5; i=i+0.5) { %>
          <% if (i<8) { %>
            <tr id='daysHeader'>
              <th class="blank"></th>
              <% var days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']; %>
              <% for (var k=0; k<days.length; k++) { %>
                <th id="<%= days[k].toLowerCase() %>Column" class="day"><%= days[k] %></th>
              <% } %>
            </tr>
          <% } else { %>
            <tr>
              <% for (var j=0; j<=days.length; j++) { %>
                <% if (j==0) { %>
                  <th class="time"><%= (i>=7)?Math.floor((i<=12.5)?i:i-12):''%>:<%=(i%1==0)?'00':'30'%></th>
                <% } else {%>
                  <td id= "<%= String(days[j-1]).toLowerCase()+'-'+String(i)%>" data-time="<%=i%>" data-day="<%=String(days[j-1]).toLowerCase()%>" data-timereadable="<%= (i>=7)?Math.floor((i<=12.5)?i:i-12):''%>:<%=(i%1==0)?'00':'30'%> <%= (i<12)?'AM':'PM' %>"></td>
                <% } %>
              <% } %>
            </tr>
          <% } %>
        <% } %>
      </table>

    </template>

    <template id='flac' class='hidden'>

      <table id="FLACGrid" class="calendar">
        <% for (var i=7.5; i<=20.5; i=i+0.5) { %>
          <% if (i<8) { %>
            <tr id='daysHeader'>
              <th class="blank"></th>
              <% var days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']; %>
              <% for (var k=0; k<days.length; k++) { %>
                <th class="day"><%= days[k] %></th>
              <% } %>
            </tr>
          <% } else { %>
            <tr>
              <% for (var j=0; j<=days.length; j++) { %>
                <% if (j==0) { %>
                  <th class="time"><%= (i>=7)?Math.floor((i<=12.5)?i:i-12):''%>:<%=(i%1==0)?'00':'30'%></th>
                <% } else {%>
                  <td id= "<%= String(days[j-1]).toLowerCase()+'-'+String(i)%>" data-time="<%=i%>" data-day="<%=String(days[j-1]).toLowerCase()%>"data-timereadable="<%= (i>=7)?Math.floor((i<=12.5)?i:i-12):''%>:<%=(i%1==0)?'00':'30'%> <%= (i<12)?'AM':'PM' %>"></td>
                <% } %>
              <% } %>
            </tr>
          <% } %>
        <% } %>
      </table>

    </template>

    <template id='otherRooms' class='hidden'>

      <table id="otherRoomsGrid" class="calendar">
        <% for (var i=7.5; i<=20.5; i=i+0.5) { %>
          <% if (i < 8) { %>
            <tr>
              <th class="blank"></th>
              <% for (var k=0; k<otherRooms.length; k++) { %>
                <th class="room"><%= otherRooms[k].location %></th>
              <% } %>
            </tr>
          <% } else { %>
            <tr>
              <% for (var j=0; j<=otherRooms.length; j++) { %>
                <% if (j==0) { %>
                  <th class="time"><%= (i>=7)?Math.floor((i<=12.5)?i:i-12):''%>:<%=(i%1==0)?'00':'30'%></th>
                <% } else { %>
                  <td id= "<%=otherRooms[j-1].location.replace(' ','_')+'-'+String(i)%>" data-time="<%=i%>" data-room="<%= otherRooms[j-1].name %>" data-timereadable="<%= (i>=7)?Math.floor((i<=12.5)?i:i-12):''%>:<%=(i%1==0)?'00':'30'%> <%= (i<12)?'AM':'PM' %>"</td>
                <% } %>
              <% } %>
            </tr>
          <% } %>
        <% } %>
      </table>
      <% for (var i=0; i<otherRooms.length; i++) { %>
      <div id='<%= otherRooms[i].location.substring(0, otherRooms[i].location.indexOf(" ")) %>' class='roomInfo'>
        <u><%= otherRooms[i].name %></u><br>
        <table>
          <tr>
            <td class='left'>Capacity:</td><td class='right'><%= otherRooms[i].capacity %></td>
          </tr><tr>
            <td class='left'>Location:</td><td class='right'><%= otherRooms[i].location %></td>
          </tr><tr>
            <td class='left'></td><td class='right'><%= otherRooms[i].directions %></td>
          </tr><tr>
            <td class='left'>Amenities:</td><td class='right'> <%= otherRooms[i].amenities %></td>
          </tr>
        </table>
      </div>
    <% } %>

    </template>
    
    <div id='eventWindow' class='window' style='display:none'>
      <header id='eventHeader'></header>
      <p id='eventDate'></p>
      <p>From: <select id='eventTime'>
        <% for (var i = 8; i < 21; i += 0.5) { %>
          <option value=<%= i %>><%= (i>=7)?Math.floor((i<=12.5)?i:i-12):''%>:<%=(i%1==0)?'00':'30'%> <%= (i<12)?'AM':'PM' %></option>
        <% } %>
      </select> to <span id='eventEndTime'></span></p>
      <p>For <select id='eventDurationSelect'></select> hours</p>
      <p id='eventRoom'></p><br>
      <p>Event name: <input type='text' id='eventName'></input></p><br>

      <p class='creating'>Client's netid: <input type='text' id='clientNetid'></input></p>
      <p class='halfSize creating'><input type='checkbox' id='clientIsOverseer'>Reservation is being made on behalf of someone else</input></p>
      <p id='overseerNetid' style="display:none">Overseer's netid: <input type='text' id='overseerNetidBox'></input></p>

      <button id='deleteEvent' class='redBtn editing'>Delete Event</button><br>
      <button id='saveEvent' class='greenBtn'>Save</button><button id='cancel' class='redBtn'>Cancel</button>
    </div>


  </section>

</body>
<!--<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>-->
<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/cal.js"></script>
