<section id=locations>
  <h1>Locations</h1>
  <input id=loc-search list=loclist type=search placeholder='Search…'>
  <datalist id=loclist>
  <% locations.forEach(function(loc) { %>
    <option data-name="<%= loc.name %>" value="<%= loc.name %>">
  <% }); %>
  </datalist>
  <form id=loc-edit>
    <fieldset>
      <legend>Edit Location</legend>
      <div class=field-holder>
        <label for=loc-name-edit>Name</label>
        <input type=text name=locName id=loc-name-edit required placeholder="Back Cabinet">
      </div>
      <input id=loc-delete-btn type=submit class=redBtn value='Delete'>
      <input id=loc-update-btn type=submit class=greenBtn value='Update'>
    </fieldset>
  </form>
  <form id=loc-add>
    <fieldset>
      <legend>Add Locations</legend>
      <div class=field-holder>
        <label for=loc-name>Name</label>
        <input type=text name=locName id=loc-name required placeholder="Back Cabinet">
      </div>
      <input type=submit class=greenBtn value=Add>
    </fieldset>
  </form>
</section>
<script>window.HLRDESK.init.locations();</script>
