<section id=newsbox>
  <h1>News Box</h1>
  <form id=news-edit-form>
    <table id=news-edit-table>
      <th>Image</th>
      <th>Title</th>
      <th>Body</th>
      <% newsbox.forEach(function(news, index) { %>
        <tr id='news<%= index %>'>
          <td><img id='newsimage<%= index %>' src="<%= news.img_link %>" alt="News Image" /></td>
          <td><%= news.heading %></td>
          <td><%= news.body %></td>
        </tr>
      <% }); %>
    </table>
  </form>
</section>
<script>window.HLRDESK.init.newsbox();</script>
